//nav
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:wght@700&family=Roboto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Bebas+Neue&family=Noto+Serif:wght@700&display=swap');
//h1
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
//article - description
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&display=swap');
//para el banner de la galeria
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

//colors
$background: #d4d0ac;
$paragraph: #2a2a2a;
$button: #ff8e3c;
$button-text: #0d0d0d;
$headline: #292828;

//fontfamily
$font-h1: 'Lobster', cursive;
$family-nav: 'Bebas Neue', cursive;
$family-h2-desk-description: 'Architects Daughter', cursive;
$font-galery-mb: 'Poppins', sans-serif; 
$family-nav: 'Bebas Neue', cursive;
$family-h2-desk-description: 'Architects Daughter', cursive;
$family-p: 'Architects Daughter', cursive;

//Sizes font h1
$h1: 20px;
$h1-tablet-desktop: 30px; 
$font-h1: 'Lobster', cursive;

// size paragraphs 
$size-p:12px;
$size-p-tablet: 18px; 
$size-p-desk: 32px;
$size-p-foot: 10px; 
//size nav
$size-nav: 12px; //size of nav
$size-nav-tablet: 22px; //size nav-tablet
$size-nav-desktop: 32px; //size-desktop

//letter-sizes
$tablet: 768px;
$desktop: 992px;

//backgraund article
$back-art-color: $background;

//margin nav
$margin-nav: 5px;








$align-p: justify;


//font-size
$family-h2:'Alegreya', serif; 
$size-h2-mobile: 14px;
$size-h2-tablet: 18px;
$size-h2-desk: 24px;
$size-h1-mobile: 20px;
$size-h1-desk: 55px;
$size-h1-tablet: 35px;
$size-h2-desk-description: 24px;
$size-h2-tb-description: 18px;
$size-p-foot-tablet:12px;
$size-p-foot-desk:17px;










